@font-face {
  font-family: 'Myriad';
  src: url('MyriadPro-Light.woff');
}



body
{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 80%;
	font-family: Myriad;
    margin : 0;
    padding: 0;
    height: 600px;
    background-position: center top;
}

.container
{
	width : 70%;
	height: 475px;
	margin: 0 auto;
    position: relative;
}

.container nav {
	position: absolute;
	color : black;
	overflow: hidden;
	margin-left: 10%;
	margin-right: 10%;
}
.container nav ul {
	list-style-type: none;
	overflow: hidden;
	background: cyan;
	background: linear-gradient(to bottom, rgba(144,144,144,1) 0%,rgba(152,152,152,1) 12%,rgba(160,160,160,1) 25%,rgba(141,141,141,1) 39%,rgba(124,124,124,1) 50%,rgba(97,97,97,1) 51%,rgba(107,107,107,1) 60%,rgba(124,124,124,1) 76%,rgba(114,114,114,1) 91%,rgba(109,109,109,1) 100%);
	border-radius: 5px;
	padding-left: 0;
	min-width: 800px;
	margin: 0 auto;
}
.container nav ul li {
	font-size: 15px;
	min-width : 52px;
	float : left;
	text-align: center;
	align-items: center;
	padding: 7px 12px;
	color: white;
	border-right: 1px solid grey;
	background: linear-gradient(to bottom, rgba(144,144,144,1) 0%,
		rgba(152,152,152,1) 12%,
		rgba(160,160,160,1) 25%,
		rgba(141,141,141,1) 39%,
		rgba(124,124,124,1) 50%,
		rgba(97,97,97,1) 51%,
		rgba(107,107,107,1) 60%,
		rgba(124,124,124,1) 76%,
		rgba(114,114,114,1) 91%,
		rgba(109,109,109,1) 100%);
}

.menuHover:hover {
	background: linear-gradient(to bottom, rgba(87,87,87,1) 0%,rgba(99,99,99,1) 12%,rgba(111,111,111,1) 25%,rgba(82,82,82,1) 39%,rgba(57,57,57,1) 50%,rgba(15,15,15,1) 51%,rgba(31,31,31,1) 60%,rgba(56,56,56,1) 76%,rgba(42,42,42,1) 91%,rgba(33,33,33,1) 100%);
	cursor: pointer;
}

#searchList {
	border-right:none;
}

#search {
	width: 100px;
	margin-left: 0; 
	background: linear-gradient(to bottom, rgba(144,144,144,1) 0%, rgba(152,152,152,1) 12%, rgba(160,160,160,1) 25%, rgba(141,141,141,1) 39%, rgba(124,124,124,1) 50%, rgba(97,97,97,1) 51%,rgba(107,107,107,1) 60%,rgba(124,124,124,1) 76%,rgba(114,114,114,1) 91%,rgba(109,109,109,1) 100%);
		border: 2px solid grey;
		border-radius: 10px;
	    box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
	    transition-duration: 0.3s;
}

.title {
	position: relative;
	width : 600px;
	height: auto;
	margin : 0 auto;
	clear: both;
	top: 150px;
	margin: auto;
	text-align: center;
	font-weight: normal;
	color: white;
}

#firstLine {
	font-size: 55px;
	margin: 20px auto;
}

#secondLine {
	font-size: 30px;
}

.title a {
	font-size: 20px;
	color: white;
}


.kindIphone {
	position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    min-width: 1300px;
}


.kindIphone img{
	width: 333px;
}

.container1{
	width : 60%;
	margin : 0 auto;
	margin-bottom: 20px;
}
.footer{
	padding: 5px
}
.info {
	display : flex;
	font-size: 10px;
}

.info ul {
   list-style: none;
   padding-left: 5px;
}
.info ul li {

	float : left;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid gray;
}
span {
	color : blue;
}
span a {
	text-decoration: none;
}
a : hover{
	text-decoration: underline;
}
.copyright {
	font-size: 10px;
}